@import '_config/colors';

.page-carrer{
  background: url("../images/backgrounds/bg-kariera.jpg");
}
.career {
  background: white;
  margin: 3rem 0;
  padding: 1rem 2rem;
  border-radius: 2rem;
  box-shadow: $bs-main;
  border: 1px solid rgba(0, 157, 75, 0.1);
  opacity: 0.8;
  transition: 250ms ease;
  &:hover,
  &:focus {
    transform: scale(1.02);
    opacity: 1;
    border: 1px solid white;
  }
  &__title {
color: $green;
    padding: 0;
    margin: 0;
  }
  &__date {
margin-bottom: 2rem;
    &--color {
color: $green;
    }
  }
  &__description {
padding: 0;
    margin: 1.1rem 0;
  }
  &__cta {
    text-align: center;
    .btn {
      min-width: 8rem;
      &:hover,
      &:focus {
        color: initial;
      }
    }
  }
}

@media screen and (min-width: $desktop) {
.career {
  &__container {
    float: left;
    width: 70%;
  }

  &__cta {
    float: right;
    width: 30%;
    margin-top: 2rem;
  }
}

}