body.page-template-page-contact {
  background: url("../images/backgrounds/bg-contact.jpg");
  background-size: cover;
}
.contact {
  &-item {
    margin: 1.3rem 0;
    line-height: 1.7;
    @media only screen and (min-width: $tablet) {
      line-height: 1.5;
      margin-left: 0.8rem;
      width: 70%;
    }
    @media only screen and (min-width: $notebook) {
      margin: 1.4rem 0;
      width: 100%;
    }
    &--main {
      line-height: 1.5;
      background: white;
      border-radius: 1.7rem;
      padding: .9rem 1.2rem 1.8rem;
      margin: 0;
      margin-bottom: 1.6rem;
      width: 110%;
      max-width: 16rem;
      box-shadow: $bs-main;
      @media only screen and (min-width: $tablet) {
        max-width: 15.3rem;
        padding: 0.9rem 1.7rem 1.4rem;
        margin-bottom: 1.4rem;
      }
      @media only screen and (min-width: $notebook) {
        border-radius: 1rem;
        margin: -1rem;
        margin-bottom: 2.8rem;
        padding: 1rem;
        width: auto;
      }
      &:after {
        content: "";
        position: absolute;
        width: 16rem;
        height: 5rem;
        top: 2.2rem;
        left: 13.4rem;
        background: url(../images/header/sag-text.png);
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0.1;
        z-index: -1;
        @media only screen and (min-width: $tablet) {
          width: 28rem;
          height: 8rem;
          top: 0.5rem;
          left: 15.1rem;
        }
        @media only screen and (min-width: $notebook) {
          width: 312%;
          height: 200%;
          top: -49%;
          left: 84%;
        }
      }
    }
    &--box {
      margin-bottom:2rem;
      @media only screen and (min-width:$mobile_l) {
        margin-bottom:0;
      }
      @media only screen and (min-width:$notebook) {
        clear: both;
      }
    }
    &--blankspace {
      @media only screen and (max-width: $notebook) {
        margin-bottom: 4rem;
      }
      @media only screen and (min-width: $notebook) {
        display: none;
      }
    }
  }
  &__header {
    font-size: 0.9rem;
    padding: 0;
    margin: 0;
    @media only screen and (min-width: $tablet) {
      font-size: 1rem;
    }
    &--main {
      font-size: 1.1rem;
      color: $green;
    }
  }
  &__header--secondary {
    padding-top:3rem;
  }
  &__description {
    font-size: 0.9rem;
    padding: 0;
    margin: 0;
    @media only screen and (min-width: $tablet) {
      font-size: 1rem;
    }
    &--main {
      font-size: 1.1rem;
    }
  }
}

.page-contact {
  color: $lightgray;
  &__content {
    padding: 2rem 2.1rem 0.8rem;
    @media only screen and (min-width: $tablet) {
      padding: 3.8rem 0 0.8rem;
    }
    @media only screen and (min-width: $notebook) {
      padding: 10.8rem 1.5rem 6.8rem 0 ;
    }
  }
  &__header {
    font-weight: 300;
    margin-bottom: 1.9rem;
    margin-top: 2rem;
    @media only screen and (min-width: $tablet) {
      margin-bottom: 2rem;
      margin-top: 3rem;
    }
    @media only screen and (min-width : $notebook) {
      margin-bottom: 3.2rem;
      margin-top: 0;
    }
  }
  .contact-form {
    color:#6c6c6c;
    width: 86%;
    margin: auto;
    padding-top: 2rem;
    font-size: 1rem;
    @media only screen and (min-width : $notebook) {
      width: 68%;
      margin: auto;
      padding: 2.4rem 0 0;
    }
    &-wrapper{
      background-color: #fff;
      border-radius: 1.8rem;
      margin: auto;
      margin-top: 2rem;
      max-width: 29.56rem;
      box-shadow: 0 0 55px 0 rgba(0,0,0,.16);
      @media only screen and (min-width : $tablet) {
        border-radius: 1rem;
        max-width: none;
        margin-top: 1.4rem;
      }
      @media only screen and (min-width : $notebook) {
        margin-top: 4.4rem;
      }
    }
    &__header {
      font-size: 1.2rem;
      margin: 0 0 1.3rem;
      font-weight: 300;
      @media only screen and (min-width : $tablet) {
        margin-bottom: 1.8rem;
      }
      @media only screen and (min-width : $notebook) {
        font-size: 1.125rem;
        margin-bottom: 1.6rem;
      }
    }
    &__field {
      border-color: $green;
      border-radius: 1.2rem;
      &--name{
        width: 48%;
        @media only screen and (min-width : $notebook) {
          width: 51%;
        }
      }
      &--email {
        width: 48%;
        @media only screen and (min-width: $notebook) {
          width: 42%;
        }
      }
      &--message {
        margin-top: 1.9rem;
        height: 12rem;
        @media only screen and (min-width : $tablet) {
          height: 15.5rem;
        }
      }
    }
    p {
      display: inline-block;
      float: right;
      margin: 0;
      @media only screen and (min-width : $tablet) {
        float: left;
      }
    }
    &__button-container {
      display: inline-block;
      width: 100%;
    }
    .page-widget__btn-icon-container {
      text-align: left;
      margin: 0;
    }
    .widget-contact-form__btn-file {
      float: left;
      margin-left: 0.5rem;
      @media only screen and (min-width : $tablet) {
        margin-left: 1.7rem;
      }
      @media only screen and (min-width: $notebook) {
        margin-left: 0.8rem;
        .btn {
          font-size: 1rem;
        }
      }
    }
    .page-widget__btn {
      margin: 0;
      height: 2rem;
      margin-top: 0.2rem;
      @media only screen and (min-width : $tablet) {
        margin-left: 2.2rem;
      }
    }
  }
  div.wpcf7-response-output{
    margin-top: 1.1rem;
  }
  .map {
    box-shadow: 0 0 55px 0 rgba(0,0,0,.16);
    display: none;
    @media only screen and (min-width : $tablet) {
      display: block;
      margin-top: 3.4rem;
      height: 37.8rem;
    }
    @media only screen and (min-width: $notebook) {
      margin-top: 5.7rem;
    }
  }
}