.subpage-news {
  background: url("../images/backgrounds/bg-news.jpg") center top repeat-y;
  background-size:cover;
  padding:6.5rem 2rem;
  @media only screen and (min-width: $tablet) {
    padding-top:8.5rem;
  }
  @media only screen and (min-width: $notebook) {
    padding-top:13rem;
  }
  &__header {
    font-size:1.2rem;
    margin-bottom: 0;
    font-weight: 300;
    color:#000!important;
    @media only screen and (min-width: $tablet) {
      margin-bottom: 2.1rem;
      font-size:1.5rem;
    }
  }
  &__text {
    font-size:0.9rem;
    color: #6c6c6c;
    @media only screen and (min-width: $tablet) {
      margin: 1.7rem 0;
      line-height: 1.2rem;
    }
  }
  &__entry {
    width:100%;
    padding:1.2rem 0.8rem;
    background-color:#fff;
    border-radius: 18px;
    box-shadow: 0 0 55px 0 rgba(0,0,0,0.16);
    margin-bottom:3.2rem;
    overflow:hidden;
    @media only screen and (min-width: $tablet) {
      padding: 1.875rem 2.375rem;
      margin-bottom:2.3125rem;
    }
    @media only screen and (min-width: $fhd) {
      margin-bottom:2.75rem;
    }
    &__title {
      font-size:0.9rem;
      color:$green;
      margin:0;
      line-height:1.2;
      @media only screen and (min-width: $tablet) {
        font-size:1.125rem;
      }
    }
    &__date {
      margin:0 0 0.5rem;
      @media only screen and (min-width: $tablet) {
      }
    }
    &__image {
      height:11.1rem;
      width:100%;
      background-position: 50%;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius:18px;
      margin:0 0 1.3rem 0;
      @media only screen and (min-width: $tablet) {
        width:45%;
        float:left;
        margin:0;
      }
    }
    &__text {
      @media only screen and (min-width: $tablet) {
        float:left;
        width:55%;
        padding-left:1.1625rem;
      }
      @media only screen and (min-width: $fhd) {
        padding-left:1.8125rem;
      }
    }
    &__text p{
      margin:0;
      font-size:0.8rem;
      @media only screen and (min-width: $tablet) {
        font-size:1rem;
      }
    }
    .btn-container {
      text-align:center;
      clear:both;
      @media only screen and (min-width:$notebook) {
        clear:none;
        float:right;
      }
    }
    &__btn {
      margin: 1.4rem 0 0 0;
      font-size:1rem;
      line-height:1;
      padding: 0.3rem 0.9rem;
      top:50%;
      @media only screen and (min-width: $tablet) {
        font-size:0.875rem;
      }
      @media only screen and (min-width: $fhd) {
        margin: 1.875rem 0 0 0;
      }
    }
  }
  .subpage-news{
    &__pagination {
      display: flex;
      justify-content: space-between;
      clear: both;
      padding:0 2rem;
      .page-numbers {
        font-size:1rem;
        color:#aeaeae;
        line-height:8.5rem;
        &:hover {
          color:$green;
        }
        &.current {
          font-weight:800;
          color:$green;
        }
        &.prev {
          margin-right:-2rem;
          margin-left:-4rem;
        }
        &.next {
          margin-right:-4rem;
          margin-left:-2rem;
        }
      }
    }
   &__arrow {
     display: block;
     width:7.5rem;
     height:8.5rem;
     background-size: contain!important;
     background-repeat: no-repeat!important;
     &--previous {
       background: url("../images/posts/arrow_l.png") 50%;
     }
     &--next {
       background: url("../images/posts/arrow_l.png") 50%;
       transform:rotate(180deg);
     }
   }
  }

  .page-widget {
    margin-top:0;
  }

  &__widget-area {
    background-color:skyblue;
    height:50rem;
  }
}