$green: #029a4a;
$dullgreen: #169f57;
$gray: #f2f2f2;
$lightgray: #6c6c6c;
$green-gradient: linear-gradient(#009848, #0cac58);
$green-gradient-fadeToLeft: linear-gradient(to right, rgba(22,159,87,1) 53%,rgba(22,159,87,0.02) 99%,rgba(255,255,255,0) 100%);
$green-gradient-fadeToRight: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(22,159,87,0.02) 1%,rgba(22,159,87,1) 53%);
$bs-main: -2px 6px 16px rgba(0, 0, 0, 0.15);
