@import "colors";

html {
  font-size: 10px;

  @media only screen and (min-width : $mobile_l) {
    font-size: 10px;
  }
  @media only screen and (min-width : $tablet) {
    font-size: 16px;
  }

  @media only screen and (min-width : $notebook) {
    font-size: 12px;
  }
  @media only screen and (min-width : $desktop) {
    font-size: 12px;
  }
  @media only screen and (min-width : $fhd) {
    font-size: 16px;
  }
}

body, button, input, select, textarea {
  font-family: 'Montserrat', sans-serif;
}

p, .button-text {
  font-size: 1rem;
}

h1, .portfolio-header--small {
  font-size: 1.4rem;

  @media only screen and (min-width : $tablet) {
    font-size: 1.875rem;
  }

  @media only screen and (min-width : $notebook) {
    font-size: 3rem;
  }
}

h2 {
  font-size: 1.222rem;

  @media only screen and (min-width : $tablet) {
    font-size: 1.5rem;
  }
}

.bg-big-text {
  font-size: 7.333rem;
  @media only screen and (min-width: $tablet) {
    font-size: 10rem;
  }
  @media only screen and (min-width: $notebook) {
    font-size: 18.5rem;
  }
}

//SEKCJE p

.offer {
  .overlap-text {
    font-size: 1rem;
    @media only screen and (min-width : $notebook) {
      font-size: 1.125rem;
    }
  }

  .image-text {
    font-size: 1.222rem;
    @media only screen and (min-width : $tablet) {
      font-size: 1.5rem;
    }
  }
}

.realizations {
  .carousel-text {
    font-size: 1rem;
    @media only screen and (min-width : $tablet) {
      font-size: 1.125rem;
    }
    @media only screen and (min-width : $notebook) {
      font-size: 1.5rem;
    }
  }
}

.contact {
  .bg-big-text {
    font-size: 6.889rem;
    @media only screen and (min-width : $tablet) {
      font-size: 9.375rem;
    }
    @media only screen and (min-width : $notebook) {
      font-size: 18.5rem;
    }
  }

  p, .form-text {
    font-size: 1rem;
    @media only screen and (min-width : $tablet) {
      font-size: 1.125rem;
    }
  }
}

.footer {
  p{
    font-size: 1rem;
    @media only screen and (min-width : $tablet) {
      font-size: 1.125rem;
    }
  }
}

//Wspólne

.section-header {
  text-align: center;
  position: relative;
  &__text {
    &--small {
      color: $green;
      z-index: 5;
      position: absolute;
      left: 50%;
      top:50%;
      margin:0;
      transform: translate(-50%,-57%);
    }
    &--big {
      font-weight: bold;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.05);
      font-size: 4.556rem;
      margin: 0;
      margin-top:2rem;
      line-height: 1;
      cursor: default;
      @media only screen and (min-width: $tablet) {
        font-size: 6.25rem;
      }
      @media only screen and (min-width: $notebook) {
        font-size: 14rem;
      }
    }
  }
}
