.page-wpis{
  background: url("../images/posts/background_basic.png") ;
}

/*--------------Banner-----------------*/

.head_banner{
  /*background-image:  url("../images/posts/top__banner.png") ;*/
  background-repeat:no-repeat;
  background-size: cover;
  background-position:50%;
  box-shadow: 0 0 40px 10px #d9d9d9;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  height: 14rem;
  width: 100%;
  margin: 5.8rem 0 6rem;
  &--subpage {
    margin-top:0!important;
  }
}
@media only screen and (min-width : $iphone6p) {
  .head_banner{
    height: 19.5rem;
  }
}
@media only screen and (min-width : $mobile_l) {
  .head_banner{
    height: 24rem;
  }
}

@media only screen and (min-width : $tablet) {
  .head_banner{
    margin: 12.5rem 0 7.5rem;
    height: 21.25rem;
  }
}

@media only screen and (min-width : $notebook) {
  .head_banner{
    height: 21.25rem;
  }
}
@media only screen and (min-width : $desktop) {
  .head_banner{
    height: 23.75rem;
  }
}
@media only screen and (min-width : $fhd) {
  .head_banner{
    height: 26rem;
  }
  }



/*--------------white cloud--------------*/

.top__white {
  background-color:white;
  box-shadow: 0 0 50px 1px #e4e5e5;
  border-radius: 15px;
  position: absolute;
  z-index: 2;
  transform: translateY(-13rem);
  width: 100%;
  padding: 10px 10px;
  margin-left:20px;
}          /*absolute*/



  .top__white p:nth-child(1){
  font-size:1.2rem;
  color:$green;
  margin-bottom:0;
    margin-top: 1.2rem;
}

@media only screen and (min-width : $tablet) {
  .top__white p:nth-child(1){
    font-size:1.1rem;
  }
}

@media only screen and (min-width : $notebook) {
  .top__white p:nth-child(1){
    font-size:2rem;
  }
}

.top__white p:nth-child(2){
    font-size:0.9rem;
    margin-bottom:0;
  }
@media only screen and (min-width : $tablet) {
  .top__white p:nth-child(2){
    font-size:0.875rem;
  }
}

@media only screen and (min-width : $notebook) {
    .top__white p:nth-child(2){
      font-size:1.16rem;
  }

  @media only screen and (min-width : $desktop) {
    .top__white p:nth-child(2){
      font-size:0.9rem;
    }
  }


  .top__white span{
    font-size:0.9rem;
    color:$green;
    line-height: 2.0rem;
  }
@media only screen and (min-width : $tablet) {
  .top__white span{
    font-size:0.64rem;
  }
}

@media only screen and (min-width : $notebook) {
  .top__white span{
    font-size:1.16rem;
  }
}

}


/*--------------tekst-plain-----------------*/

  .text_float{
    margin-top:3rem;
    margin-bottom: 10px;
    text-align: justify;
    font-size:0.9rem;
  }
.navbar__tel-container__icon{
  color:#9d9d9d;
}

.page-wpis .navbar .navbar-toggle .icon-bar{
  background-color:#6c6c6c !important;
}

/*--------------flex-container-gallery-----------------*/

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
    justify-content: center;

 }



.wrap    {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: hidden;
  border-radius: 2rem;
}
.wrap li img {
  background: black;
width:100%;
}

.flex-item {
  flex-grow: 1;
  align-self:stretch;
  padding: 0;
  width: 50%;
  border: 1px solid white;
  @media only screen and (min-width: $tablet) {
    width: 25%;
    height: auto;
    flex: 1;
  }
}


.flex__container{

  &_line {
    border-bottom: 1px solid #dadad9;
  }

  &_signature{
    color:$green;
    text-align: center;
  font-style: italic;
    margin-top: 1rem;
  }
}
/*--------------arrows-before-next-----------------*/

.arrow {

  &_object{
    padding: 0;
    margin:0;
  }
  &_object__img__left {
  transform: translate(-28px);
    height:98px;
    @media only screen and (min-width : $tablet) {
      height:132px;
      transform: translate(-38px);
    }

  }
  &_object__img__right {
    transform: translateX(28px) scaleX(-1);
    height:98px;
    @media only screen and (min-width : $tablet) {
      height:132px;
      transform: translate(38px) scaleX(-1);
    }
  }

  &_body__left {
    position: absolute;
    top: 50%;
    color: #6c6c6c;
    font-size: 0.9rem;
    white-space: pre;
    transform: translate(-50px, -50%);

    @media only screen and (min-width: $tablet) {
      font-size: 1rem;
      transform: translate(-70px, -50%);
    }
    @media only screen and (min-width: $notebook) {
      font-size: 1.3rem;
    }
  }
  &_body__right {
    right:43px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color:#6c6c6c;
    font-size: 0.9rem;
    white-space: pre;

    @media only screen and (min-width : $tablet) {
        font-size:1rem;
      right:53px;
     }
    @media only screen and (min-width : $notebook) {
      font-size:1.3rem;
    }
  }
}




  /*--------------before-next-thread-----------------*/

  .media_object {
padding: 0;
    display: none;

    @media only screen and (min-width: $tablet) {
      display: flex;

      &__img {
        &_left {
          border-radius: 15px;
          width: 140px;
          height: 140px;
          text-align: left;

        }
        &_right {
          border-radius: 15px;
          width: 140px;
          height: 140px;
          text-align: right;
        }
      }
    }
    &__left{
      margin-right: 0;
      text-align: left;
      border-right: 1px solid #dadad9;
    }
  }

.media {
  &-heading__link {
    color: $green;
  }

  &-body{
    &__left {
      //color:$green;
    }

    &__right {
      text-align: right;
      //color:$green;
    }
  }
}
.post-previous, .post-next{

  a{
    color: $green;
  }
}
.post-previous {
  text-align: left;
  border-right: 1px solid #dadad9;
  @media screen and (min-width:$tablet) {
    padding-right:10px;
  }
}

.post-next{
  text-align: right;
  @media screen and (min-width:$tablet) {
    padding-left:10px;
  }
}

.swipebox-no-close-button #swipebox-close {
  display:block;
}

.post-cleared-container {
  overflow:hidden;
  clear:both;
  img {
    padding: 1px;
  }
}

.image-wrap {
  img {
    padding: 1px;
  }
}

/*--------------++++----------------*/
