  body.page-template-page-offer, body.page-template-page-krazniki, body.page-template-page-krazniki-subpage, body.page-template-page-krazniki-realizacje{
  background: url("../images/backgrounds/bg-krazniki.jpg");
}
.page-offer {
  padding-right:0!important;
  &__content {
    padding: 6rem 2.1rem 0.8rem;
    @media only screen and (min-width: $tablet) {
      padding: 8rem 0 0.8rem;
    }
    @media only screen and (min-width: $notebook) {
      padding: 12.5rem 0 6.8rem;
    }
  }
  &__header {
    margin-bottom: -0.8rem;
    font-weight: 300;
    @media only screen and (min-width: $tablet) {
      margin-bottom: 2.1rem;
    }
  }
  &__text {
    margin: 2rem 0;
    line-height: 1.3rem;
    color: #6c6c6c;
    @media only screen and (min-width: $tablet) {
      margin: 1.7rem 0;
      line-height: 1.2rem;
    }
  }
  &__gallery {
    margin: 2.9rem 0 2.4rem;
    @media only screen and (min-width: $tablet) {
      margin: 2.9rem 0 3rem;
    }
  }

  &__tabs {
    margin: 2.5rem 0 2.4rem;
    @media only screen and (min-width: $tablet) {
      margin: 3rem 0 3.5rem;
    }
  }
}

.menu__round {
  display: flex;
  flex-wrap:wrap;
  list-style: none;
  align-items: stretch;
  border: 1px solid #e1e1e1;
  padding: 0;
  margin: 0 auto;
  border-radius: 1.3rem;
  //min-height: 8rem;
  justify-content: center;
  height:auto;
  @media screen and (max-width: 440px) {
    padding-bottom: 10px;
    a {
      margin-right: -1px;
      margin-top: 10px;
      li {
        padding: 0 5px;
      }
    }
  }
  @media screen and (min-width: 440px) {
    //height:3rem;
    //line-height: 1.5rem!important;
  }
  &--full {
    width: 100%;
  }
  a {
    width:30%;
    display: flex;
    flex: 1;
    color: $green;
    flex-basis: 8rem;
    margin-right: -1px;
    margin-top: 10px;
  }
}

.round {
  &__item {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-right: 1px solid #e1e1e1;
    &--last {
      border: none;
    }
  }
}

.no--background {
  background: none!important;
}
.page-offer .slider-menu a {
  color: black!important;
}

.subpage__title-field {
  box-shadow: 0 0 50px 1px #e4e5e5;
  background-color:#fff;
  border-radius:20px;
  position:absolute;
  bottom:0;
  width:80%;
  padding:1.5rem;
  transform:translateY(50%);
  h1 {
    margin:0;
  }
}

.slider--nagrody {
  width: 45%;
  .owl-carousel .owl-item img {
    display: block;
    width: 100%;
  }
}

ul.slider-content.nav.nav-tabs.owl-carousel.owl-loaded, ul.slider-images.slider-images-krazniki.nav.nav-tabs.owl-carousel.owl-loaded {
  list-style: none;
}

.page-id-102, .page-id-1107, .page-id-1108 , .page-id-105, .page-id-1113, .page-id-1115, .page-id-22, .page-id-510, .page-id-1100, .page-id-649, .page-id-179, .page-id-1630, .page-id-1631 {
  .page-offer__gallery:last-of-type {
    display: none;
  }
}


/*-----------------------podstrony.page-tamplate----------------*/

 .page-styles-default {

  p {
    font-size: 1rem;
    text-align: justify;
    margin-bottom:1.2rem;
  }
  h1{
    color: $green;
    font-size: 2rem;
    line-height:normal;
    margin:0;
  }
  h2{
    font-size: 2rem;
    margin-top: 1.8rem;
    margin-bottom: 0.8rem;
  }
  h3{
    font-size: 1.5rem;
    margin-top: 1.7rem;
    margin-bottom: 0.7rem;
  }
  h4{
    font-size: 1.3rem;
    margin-top: 1.6rem;
    margin-bottom: 0.6rem;
  }
  ul{
    list-style-type: square;
    font-size: 1rem;
    margin-top:0.5rem;
    margin-bottom:1.2rem;
    padding-bottom: 10px;
    line-height: 1.5rem!important;
  }
  li{

  }

   .ropes-table, .ropes-table td, .ropes-table th {
     border: 1px solid #000;
   }

   .alignright, .alignleft {
     margin-bottom:1.5rem;
   }

   @media screen and (max-width:  $tablet) {
     .image-wrap {
       text-align: center;
       display: block;
     }
     .alignright, .alignleft {
       float:none;
       margin-left:0;
       margin-right:0;
     }
   }
 }

