.contact {
  background-color: $green;
  padding-top: 1.2rem;
  padding-bottom: 4.2rem;
  @media only screen and (min-width: $tablet) {
    padding-top: 1.7rem;
  }
  @media only screen and (min-width: $notebook) {
    padding-top: 1.5rem;
    padding-bottom: 9.5rem;
  }
  .section-header {
    height: 6.889rem;
    @media only screen and (min-width: $tablet) {
      height: 9.375rem;
    }
    @media only screen and (min-width: $notebook) {
      height: 18.5rem;
    }
    &__text {
      &--small {
        color: #fff;
      }
      &--big {
        font-size: 6.889rem;
        @media only screen and (min-width: $tablet) {
          font-size: 9.375rem;
        }
        @media only screen and (min-width: $notebook) {
          font-size: 18.5rem;
        }
      }
    }
  }

  .tel {
    margin: 0.9rem auto 1.8rem auto;
    width: 85%;
    max-width: 400px;
    @media only screen and (min-width : $tablet) {
      margin: 2rem 0 2.5rem 2.6rem;
      width: auto;
      max-width: none;
    }
    @media only screen and (min-width: $notebook) {
      margin: 3.7rem 0 2.4rem;
    }
    &__list {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    &__item {
      color: #ffffff;
      font-size: 1rem;
      @media only screen and (min-width : $tablet) {
        font-size: 1.125rem;
      }
      &--bold {
        font-size: inherit;
        margin: 0;
        display: inline-block;
        font-weight: 700;
      }
    }
  }
  div.wpcf7-response-output {
    @media only screen and (min-width: $notebook) {
      margin: 0;
    }
  }
}
.map {
  overflow: hidden;
  width: 87%;
  margin: auto;
  height: 22.2rem;
  border-radius: 1.1rem;
  z-index: 1;
  #map {
    height: 100%;
    width: 100%;
    border-radius: 1.1rem;
    z-index: 0;
  }
  @media only screen and (min-width : $tablet) {
    height: 33.38rem;
    width: 100%;
  }
  @media only screen and (min-width: $notebook) {
    margin-top: 4.2rem;
  }
}