.section {
  &--intro {
    position: relative;
    background-image: url('../images/backgrounds/bg-intro-s.jpg');
    background-color: rgba(0,0,0,0.35);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: 70% 0%;
    color: white;
    text-align: center;
    z-index: 1;
    height: 490px;
    @media screen and (min-width:$mobile_l) {
      height:585px;
    }
    @media screen and (min-width:$tablet) {
      height:920px;
    }
    @media screen and (min-width:$notebook) {
      height:565px;
    }
    @media screen and (min-width:$notebook) {
      height:760px;
    }
  }
}

.intro {
  &__text {
    position: relative;
    font-weight: 300;
    line-height: 1.5rem;
  }
  &__image {
    position: absolute;
    left: 50%;
    margin-top: -7%;
    transform: translateX(-50%);
    height: auto;
    width: 65%;
    z-index: 0;
  }
}

.middle {
  transform: translateY(25%);
}

@media screen and (min-width: $tablet) {
  .section {
    &--intro {
      background-position: 80% 0%;
    }
  }
  .intro {
    &__image {
      margin-top: -15%;
      transform: translateX(-50%);
      width: 90%;
    }
  }
  .middle {
    transform: translateY(35%);
  }
  .video {
    &__text {
      position: absolute;
      font-weight: 700;
      left:50%;
      top:50%;
      transform: translate(-50%, -50%);
      transition: 350ms cubic-bezier(0.25, 0.1, 0.42, 1.45);
      .btn--play:hover &,
      .btn--play:focus &{
        transform: translate(-50%,-50%) scale(1.2);
      }
    }
  }
}

@media screen and (min-width: $notebook) {
  .intro {
    &__text {
      text-align: justify;
      &--center {
        text-align: center;
      }
    }
    &__image {
      margin-top: -25%;
      transform: translateX(-65%);
      height: auto;
      width: 120%;
      max-width: none;
    }
  }

  .middle {
    transform: translateY(100%);
  }

  .video {
    &__link {
      position: relative;
      transform: translateX(-50%);
    }
  }
}

@media screen and (min-width: $desktop) {
  .intro {
    &__text {
      &--center {
        margin-top: 3rem;
      }
    }
  }
  .middle {
    transform: translateY(100%);
  }
}