.news {
  background-color: #fff;
  padding-bottom: 4.2rem;
  @media only screen and (min-width: $tablet) {
  }
  @media only screen and (min-width: $notebook) {
    padding-bottom: 5rem;
  }
  .section-header {
    margin-bottom: -1rem;
    margin-top:1rem;
    @media only screen and (min-width: $notebook) {
      margin-top:2rem;
    }
    &__text {
      &--big {
        font-size: 4.556rem;
        @media only screen and (min-width: $tablet) {
          font-size: 6.25rem;
        }
        @media only screen and (min-width: $notebook) {
          font-size: 14rem;
        }
      }
    }
  }
  .news__container {
    padding:0;
  }
  &__nav-btn {
    border:0;
    background-color:transparent;
    border-radius:0;
    padding:0;
    width:1.32rem;
    height:2.9rem;
    position:absolute;
    top:35.5%;
    z-index:2;
    transform: scale(1);
    filter: blur(0) opacity(1);
    transition: filter 0.5s, transform 0.5s;
    @media only screen and (min-width: $tablet) {
      top:45%;
      width:1.8125rem;
      height:4.3125rem;
    }
    &--left{
      left:calc(50% - #{11.40rem});
      @media only screen and (min-width: $tablet) {
        left:calc(50% - #{17.21875rem});
      }
    }
    &--right{
      right:calc(50% - #{11.56rem});
      @media only screen and (min-width: $tablet) {
        right:calc(50% - #{17.21875rem});
      }
    }
    &.button-inactive {
      transform: scale(0);
      z-index:0;
      filter: blur(20px) opacity(0);
      transition: filter 0.5s, transform 0.5s;
    }
  }
  .news-carousel {
    z-index:1;
    .owl-item {
      padding:3rem 0;
      &.active.center{
        .news-carousel{
          &__item {
            transition: transform 0.5s;
            transform:scale(1);
          }
          &__image, &__text-wrapper, &__btn {
            filter: grayscale(0) opacity(1);
            transition: filter 0.5s;
          }
        }
      }
    }
    &__image {
      filter: grayscale(1) opacity(0.5);
      transition: filter 0.5s;
    }
    &__text-wrapper, &__btn  {
      filter: grayscale(0) opacity(0.5);
      transition: filter 0.5s;
    }
    &__item {
      transform:scale(0.78);
      transition: transform 0.5s;
      height:40.2rem;
      width: 20.5rem;
      line-height: 1.2;
      background-color: #fff;
      box-shadow: 0px 0px 55px 0px rgba(0,0,0,0.16);
      margin: 0;
      border-radius: 1.6rem;
      z-index: 10;
      position: relative;
      overflow: hidden;
      @media only screen and (min-width: $tablet) {
        width: 30.8125rem;
        height:45.125rem;
      }
      @media only screen and (min-width: $notebook) {
        margin: 0 2rem;
        transform:scale(0.93);
      }
    }
    &__image {
      height: 14.9rem;
      z-index: 0;
      background-position: 50%;
      background-size: cover;
      background-repeat: no-repeat;
      @media only screen and (min-width: $tablet) {
        height: 22.25rem;
      }
    }
    &__text-wrapper {
      margin: 1rem 1rem 0 1rem;
      @media only screen and (min-width: $tablet) {
        min-height:15rem;
        margin: 2rem 2rem 0 2rem;
      }
    }
    &__header {
      font-size:1rem;
      font-weight: 300;
      margin: 0;
      @media only screen and (min-width: $tablet) {
        font-size: 1.125rem;
      }
    }
    &__text {
      font-size:0.9rem;
      margin-top: 1rem;
      @media only screen and (min-width: $tablet) {
        font-size:1rem;
        margin-top: 1.75rem;
      }
      &--green {
        color: $green;
        margin: 0;
      }
    }
    &__btn  {
      font-weight: 700;
      background-color: $green;
      margin: 1rem auto 0 auto;
      font-size: 1rem;
      width: 13rem;
      display: block;
      padding: 0.6rem 1.5rem;
      &:hover {
        background-color:transparent;
        color:$green;
      }
      @media only screen and (min-width: $tablet) {
        padding: 0.5rem 1.5rem;
        margin-top:2rem;
        margin-bottom: 0;
      }
      a {
        color: inherit;
        font-size: inherit;
      }
    }
  }
}