@import '_config/colors';
.description__container {
  display: flex;
  flex-direction: column;
}
.description {
  position: relative;
  align-self: center;
  order: 3;
  padding: 3rem;
  min-height: 30rem;
  width: 100%;
  border-radius: 2rem;
  box-shadow: -2px 2px 16px 1px rgba(0, 0, 0, 0.15);
  &__text {
    color: black;
    font-size: 1rem;
  }
  &__list {
    margin-left: 0;
    margin-top: -1.5rem;
    padding-left: 1.5rem;
  }
}
.image__description {
  color: white;
  font-size: 1.3rem;
  border-bottom: 2px solid $green;
  padding: 0.4rem 0;
}
.offer__image {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-bottom: -3rem;
  order: 1;
  position: relative;
  height: 5rem;
  width: 100%;
  padding: 3rem;
  border: 1px solid black;
  border-radius: 2rem;
  background-size: cover;

}

.offer__image--liny {
  background-image: url(../images/oferta/liny-stalowe-image-BW.jpg);
}
.offer__image--krazniki {
  background-image: url(../images/oferta/krazniki-image-BW.jpg);
}
.offer__image--konstrukcje {
  background-image: url(../images/oferta/konstrukcje-image-BW.jpg);
}
.offer__image--uslugi {
  background-image: url(../images/oferta/uslugi-image-BW.jpg);
}
.offer__image--handel {
  background-image: url(../images/oferta/handel-image-BW.jpg);
}

  .offer__header {
    color: $green;
    text-align: center;
  }

  .offer {
    &__submenu {
      display: flex;
      flex-direction: column;
      order: 1;
      list-style: none;
      box-shadow: -2px 6px 16px rgba(0, 0, 0, 0.15);
      margin: 3rem 0;
      padding: 0;
      border-radius: 1rem;
      a {

      }
      &__item {
        display: flex;
        margin: 0;
        padding: 2.6rem 0.4rem;
        height: 6rem;
        position: relative;
        width: 100%;
        text-align: center;
        color: $green;
        justify-content: center;
        //border-right: 1px solid;
        &:after {
          content: url(../images/assets/arrow-right.png);
          position: relative;
          right: 0%;
          padding-left: 0.5rem;
          transition: 200ms ease;
        }
        &:hover:after {
          transform: translateX(30%);
        }
      }
    }
  }
.noborder {
border: none!important;
}
.header--underline {
  display: inline-block;
  border-bottom: 2px solid $green;
}
.tab-content {
  border-top: none;
  padding: 5rem;
  border-bottom-left-radius: 2rem;
  z-index: 99;
  margin-top: -2rem;
  border-bottom-right-radius: 2rem;
  box-shadow: -2px 6px 16px rgba(0, 0, 0, 0.15);
}
.tabs--five {
  width: 20%;
  height: 5.5rem;
  color: #949494;
  float: left;
  margin-bottom: -1px;
  text-align: center;
  background: #ffffff;
  border-radius: 10px 10px 0 0;
  box-shadow: inset 2px -2px 20px 0px rgba(0, 0, 0, 0.15);
  a {
    color: $green;
    padding: 2rem 0;

  }
  &:not(:first-child) {
    width: 22%;
    margin-left: -2%;
  }
  &.active {
    background: white;
    border-bottom: none;
    box-shadow: -3px -6px 14px 0px rgba(0, 0, 0, 0.08), 0 7px 0px rgb(255, 255, 255), 4px 1px 8px rgba(0, 0, 0, 0.08);
    z-index: 9;
    background: #fff;
    a {
      color: $green;
      padding: 1rem;
    }
  }
}

@media screen and (min-width: $tablet) {
  .tabs--five {
    width: 20%;
    &:not(:first-child) {
      width: 21.9%;
      margin-left: -1.9%;
    }
  }
  .description {
    height: auto;
    border-radius: 1rem;
    padding: 3rem;
    width: 100%;

  }
  .offer__image {
    height: 8rem;
    width: 100%;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 3rem;
  }
}

@media screen and (min-width: $desktop) {
  .description__container {
    flex-direction: row;
    padding: 2rem 3rem;
  }
  .description {
    width: 35%;
    order: 1;
  }
    .offer__image {
      height: 35rem;
      width: 45%;
      order: 2;
      border-radius: 0rem 1rem 1rem 0rem;
      &--krazniki, &--konstrukcje, &--uslugi, &--handel {
        height: 25rem;
      }
    }
  .offer {
    &__submenu {
      flex-direction: column;
      order: 3;
      margin: 5rem 3rem;
      min-width: 13rem;
      a {
        flex: 1;
      }
      &__item {
        padding: 1rem;
        align-items: center;
        height: 100%;
        border-right: none;
        border-bottom: 1px solid #e5e5e5;
        }
      }
    }
  }



.cd-tabs-navigation {
  li {
    width: 20%;
  }


    a {
 height: 45px;
     }


  @media only screen and (min-width: $tablet) {
    a {
      padding-top: 0.5rem;
      line-height: 1.2rem;
      height: 60px;
    }
  }

  @media only screen and (min-width: $tablet) {
    a {
      padding-top: 1.5rem;
    }
  }

}

.zarzad__paragraph {
  line-height: 1.5;
  text-align: justify;
  padding: 2rem;
  font-size: 1.2rem;
}