@import '_config/colors';
@import '_config/mediaquery';

.portfolio {
  background-color: $dullgreen;
  background-image: url('../images/realizacje/realizacje-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding: 2rem 0 5rem;
  &--flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    position: relative;
    top: 0;
    margin: 1rem 0 3rem;

    @media (max-width: 992px) {
      flex-direction: column-reverse;
    }

    &-content {
      width: 32%;
      background: #fff;
      display: flex;
      flex-direction: column;
      padding: 4rem 1rem;
      margin: 2rem 0 3rem;
      border-radius: 1rem;
      position: relative;
      z-index: 5;
      align-self: stretch;
      .slider-content {
        margin: 0;
        .owl-item {
          li {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            h2 {
              @media screen and (min-width:$notebook) and (max-width:$fhd) {
                font-size: 1.25rem;
              }
            }
            p {
              max-width: 100%;
            }
          }
        }
      }

      .slide-title {
        border-bottom: 4px solid #029a4a;
      }

      @media (max-width: 992px) {
        width: 100%;
        margin-top:0;
        padding-top:0;
      }

      h2 {
        display: table;
        text-align: center;
      }

      a span {
        font-size: 1rem;
        font-weight: bolder;
        background: $green;
        width: inherit;
        margin: 0;

        @media (max-width: 992px) {
          width: 100%;
          padding: 0.5rem 0.5rem;
        }
      }
    }

    &-slider {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 3rem 0;

      @media (max-width: 992px) {
        width: 100%;
        margin: 2rem 0 0;
      }

      .slider-images {
        display: flex;
        margin: 0;
        z-index: 5;
        border-radius: 0 1rem 1rem 0;
        overflow: hidden;

        @media (max-width: 992px) {
          border-radius: 1rem;
        }

        li {
          img {
            filter: grayscale(100%);
            background: #0cac58;
          }
          span {
            display: none;
          }
        }
      }
      .slider-images-krazniki {
        li {
          img {
            filter: none;
          }
        }
      }

      .slider-menu {
        position: relative;
        display: flex;
        margin: 1.5rem 0 0;
        background: rgba(22,159,86,1);
        text-align: center;
&--shadow {
  box-shadow: 0 0 50px 50px rgba(22,159,86,1);
}
        @media (max-width: 992px) {
          margin: 0 0 3rem;
        }

        li {
          a{
            color: #d4d4d4;
            font-weight: normal;
            text-decoration: none;
            transition: all 100ms ease-in-out;
          }
        }

        .center {
          li {
            a {
              color: #fff;
              font-weight: bold;
              text-decoration: none;
              transition: all 100ms ease-in-out;
            }
          }
        }

        &.menu--gradient::before {
          content: "";
          width: 12rem;
          height: 100%;
          display: block;
          background: $green-gradient-fadeToLeft;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
        }

        &.menu--gradient::after {
          content: "";
          width: 12rem;
          height: 100%;
          display: block;
          background: $green-gradient-fadeToRight;
          position: absolute;
          top: 0;
          right: 0;
        }

        &--nav {
          width: 6rem;
          height: 6rem;
          position: absolute;
          bottom: 0;
          margin-left: -3rem;

          @media (max-width: 992px) {
            top: -3rem;
            position: relative;
            left: 50%;
          }

          &::after {
            content: "";
            width: 6rem;
            height: 6rem;
            position: absolute;
            z-index: 5;
            display: block;
            background: #fff;
            border: 1px solid grey;
            transform: rotate(45deg);
            border-radius: 1rem;
            box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.5);
          }
          .arrow {
            background: none;
            border: none;
            outline: 0;
            transform: scale(0.3);
            position: absolute;
            top: 0;
            z-index: 6;
            width: 50px;
            height: auto;
          }

          .left { bottom: 0.5rem; left: -2rem; }
          .right { bottom: 0.5rem; right: -2rem; }

          @media (min-width: 768px) {
            .arrow { width: 80px; }
            .left { top: 0; left: -1.9rem; }
            .right { top: 0; right: -1.9rem; }
          }

          @media (min-width: 992px) {
            .arrow { width: 45px; }
            .left { top: 0; left: -1.9rem; }
            .right { top: 0; right: -1.9rem; }
          }

          @media (min-width: 1920px) {
            .arrow { width: 80px; }
          }


          .left:hover polyline,
          .left:focus polyline {
            stroke-width: 3;
          }

          .left:active polyline {
            stroke-width: 6;
            transition: all 100ms ease-in-out;
          }

          .right:hover polyline,
          .right:focus polyline {
            stroke-width: 3;
          }

          .right:active polyline {
            stroke-width: 6;
            transition: all 100ms ease-in-out;
          }

          polyline {
            transition: all 250ms ease-in-out;
          }
        }
      }
    }
  }
}
.portfolio-header {
  &--small {
    font-weight:bold;
    color:#fff;
  }
}

.clients-logos {
  margin-top:3rem;
  &__slider {
    .owl-item {
      display: table-cell;
      float: none!important;
      vertical-align: middle;
      padding:0 5px;
    }
  }
  &__item img{
    margin:0 auto;
    width:auto!important;
    @media screen and (max-width:$mobile_l) {
      max-width: 80%;
    }
  }
}