@import '_config/colors';
.btn {
  border: 2px solid $green;
  border-radius: 1.7rem;
  padding: 0.8rem 1.5rem;
  margin: 1rem;
  color: white;
  font-weight: 700;
  background: $green-gradient;
  &:hover,
  &:focus {
    background: transparent;
    color: white;
    outline: none;
  }
  &--alternate-hover {
    &:hover,
    &:focus {
      background: white;
      color: $green;
    }
  }
  &--transparent {
    background: transparent;
    color: white;
    &:hover, &:focus {
      background:$green-gradient;
    }
  }
  &--transparent-green {
    &:hover, &:focus {
      background: transparent;
      color:$green;
      outline: 0;
    }
  }

  &--color-black {
    color: black;
    &:hover,
    &:focus {
      color: black;
    }
  }
  &--play {
    margin: 1rem 0;
    z-index: 1;
  }
  &--play:before {
    content: "";
    display: inline-block;
    position: relative;
    height: 11px;
    width: 11px;
    padding: 0.6rem;
    margin: 0rem 0.6rem;
    background-image: url(../images/header/play-triangle.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  &--label {
    cursor: default;
    &:hover,
    &:focus {
      background: $green-gradient;
      color: white;
    }
  }
  &--disabled {
    color: gray;
    border-color: gray;
    background: transparent;
    cursor: default;
    &:hover,
    &:focus {
      color: gray;
      border-color: gray;
      background: transparent;
      cursor: default;
    }
  }
}

@media screen and (min-width: $mobile_l) {
  .btn {
    padding: 0.5rem 1.5rem;
    &--play {
      position: relative;
      border-radius: 50%;
      padding: 7rem 2rem;
      width: 15rem;
      height: 15rem;
      transition: 350ms ease;
      &:hover {
        box-shadow: 2px 2px 18px 2px rgba(0, 0, 0, 0.33);
        background: rgba(0, 0, 0, 0.5);
        &:before {
          transform: translate(-35%, -50%);
        }
      }
    }
    &--play:before {
      position: absolute;
      padding: 0;
      margin: 0;
      left: 50%;
      top: 50%;
      transform: translate(-40%, -50%);
      height: 6rem;
      width: 5rem;
      z-index: -1;
      transition: 250ms ease;
    }
  }
}

@media screen and (min-width: $notebook) {
  .btn {
    &--fl {
      float: left;
      margin-left: 0;
    }
    &--play {
      width: 20rem;
      height:20rem;
      transform: translateY(-30%);
    }
    &--play:before {
      height: 8.3rem;
      width: 7rem;

    }
  }
}