.contact .contact-form, .contact-form {
  margin: 0 auto;
  font-size: 1rem;
  width: 85%;
  max-width: 400px;
  @media only screen and (min-width: $tablet) {
    font-size: 1.125rem;
    margin: 0 1.7rem;
    width: auto;
    max-width: none;
  }
  @media only screen and (min-width: $notebook) {
    margin: 0 10.2rem 0 0;
  }
  &__field {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    line-height: 1.8rem;
    color: #6c6c6c;
    font-size: inherit;
    background-color: transparent;
    border-radius: 1rem;
    border: 1px solid #fff;
    height: 2.3rem;
    &:focus {
      color:#6c6c6c!important;
    }
    &--main-page {
      color:#fff;
      &:focus {
        color:#fff!important;
      }
    }
    @media only screen and (min-width: $tablet) {
      height: 3.2rem;
      border-width: 2px;
      padding: 0.8rem 1rem;
    }
    &::placeholder {
      color: #c2c2c2;
      font-style: italic;
    }
    &--name {
      float: left;
      width: 45%;
    }
    &--email {
      float: right;
      width: 45%;
    }
    &--message {
      margin: 1.3rem 0;
      height: 11.5rem;
      resize: none;
      @media only screen and (min-width: $tablet) {
        margin: 1.8rem 0 1.3rem;
        height: 15.4rem;
      }
    }
  }
  .site-button{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    background-color: #fff;
    font-size: 1rem;
    color: $green;
    font-weight: 700;
    width: 7.2rem;
    height: 2.4rem;
    border-radius: 5rem;
    border-style:solid;
    border-color:#fff;
    &:hover {
      color:white;
      background-color:transparent;
    }

    a {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: inherit;
    }
  }
}
.wpcf7-form {
  position: relative;
  padding-bottom: 2.2rem;
}
div.wpcf7-response-output {
  margin: auto;
  padding: 0.3rem 0.7rem;
  font-size: 0.875rem;
  text-align: center;
  border-radius: 2rem;
  background-color: #fff;
  bottom: 0.5rem;
  width: 80%;
}

span.wpcf7-not-valid-tip {
  font-size: 0.875rem;
  display: none;
}