.footer {
  padding-top: 2.6rem;
  padding-bottom: 2.2rem;
  margin: 0 0.9rem;
  @media only screen and (min-width : $tablet) {
    padding-top: 3.33rem;
    padding-bottom: 3rem;
  }
  @media only screen and (min-width : $notebook) {
    padding-top: 6.2rem;
    padding-bottom: 5.9rem;
  }
  .section--footer {
    max-width: 400px;
    margin: auto;
    @media only screen and (min-width : $tablet) {
      max-width: none;
    }
  }
  &__column {
    padding-right: 0;
    padding-left: 0;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__item, .menu-item {
    color: $green;
    font-size: 0.834rem;
    line-height: 1.4;
    @media only screen and (min-width : $tablet) {
      font-size: 1.125rem;
    }
    &--bold {
      font-weight: 700;
    }
    a {
      color: $green;
    }
  }
}