body, .section--full {
  overflow-x:hidden;
}
.logged-in .navbar {
  margin-top: 32px;
}

.navbar {
  padding: 0 2.875rem!important;
  font-weight:200;
  width:100%;
  z-index: 999;
  min-height:3.9rem;
  height:3.9rem;
  border-color:transparent;
  background-color: rgba(0, 0, 0, 0.85);

  &__logo-container{
    float:left;
    line-height:3.9rem;
    height:3.9rem;
    &__image {
      vertical-align:middle;
      height:1rem;
    }
  }

  &__tel-container {
    display:inline-block;
    height:3.9rem;
    line-height:3.9rem;
    visibility:hidden;
    &::before {
      margin:0 2rem;
      height: 1rem;
      width: 1px;
      background-color: #595d5d;
      content: "";
      vertical-align: middle;
      display: inline-block;
    }
    &__icon {
      width:11px;
      height:10px;
      vertical-align:middle;
    }
    &__number {
      display:inline;
      font-size:1rem;
      margin:0;
      color:#fff;
    }
  }

  .navbar-toggle {
    border:0;
    padding:0;
    margin:0;
    line-height: 3.9rem;
    height: 3.9rem;
    &:hover, &:focus {
      background-color:transparent;
    }
    .icon-bar {
      background-color:#fff;
      margin-top:2px;
    }
  }
  .nav {
    .menu-item, .menu-item-has-children {
      text-align: center;
      a {
        padding:0 1rem;
        color:#fff;
        line-height:3.1rem;
        font-size:1.25rem;
        background-color: transparent;
        border-bottom: 1px solid transparent;

        @media screen and (min-width:$notebook){
          border-bottom: 2px solid $green;
        }
        &:hover {
          color:#fff;
          border-bottom: 1px solid $green;
        }
        &:focus {
          color:#fff;
          background-color: transparent;
        }
        @media screen and (min-width: $fhd) {
          margin-top:-1px;
        }
      }
    }

    .navbar-default .navbar-nav > .active > a,
    .dropdown-menu {
      border:none;
      min-width:0;
      .menu-item {
        display:block;
        padding: 0 0.8rem;
        @media screen and (min-width: $notebook) {
          padding: 0.5rem 0.3rem;
        }
        a{
          margin: 0 auto;
          padding: 0 15px;
          text-align: center;
        }
      }
    }
  }
  .collapsing {
    overflow:hidden;
    border:none;
    box-shadow: none;
    display:none;
  }
  .collapse {
    box-shadow: none;
    border:none;
    overflow:visible;
    max-height:20rem;
    &.in {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .menu-container {
    float:right;
    text-align: center;
  }

  &--full, &--full.affix, &--full.affix-top {
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.85);
    height:115%;
    overflow: hidden;
    border-color:transparent;
    .navbar__tel-container {
      visibility: visible;
    }
  }

  .caret {
    color: $green;
    margin-left: 5px;
    border-width: 7px 5px 0 5px;
    @media screen and (min-width: $tablet) {
      border-width: 16px 11px 0 11px;
    }
    @media screen and (min-width: $notebook) {
      border-width: 9px 6px 0 6px;
    }
  }
  &__container {
    @media screen and (min-width: $notebook) and (max-width: 1440px) {
      width: 100%!important;
    }
  }
}

.navbar-default .navbar-nav .open a,
.dropdown-menu,
.dropdown-menu li a:hover,
.dropdown-menu li a:focus {
  box-shadow: none;
  background-color:transparent !important;
}

.dropdown-menu {
  background-color:rgba(0, 0, 0, 0.85) !important;
}

.navbar-default .navbar-nav .open .dropdown-menu {
  padding-top:0;
  li {
    a, a:hover, a:focus {
      color: #fff;
      line-height: 3.1rem;
      @media screen and (min-width:$notebook) {
        line-height: 2.1825rem;
      }
      font-size:1rem;
    }
  }
}

.navbar--full {
  background-color:rgba(0, 0, 0, 0.85)!important;
}

//Hamburger animation
.navbar-toggle {
  border: none;
  background: transparent !important;
  &:hover {
    background: transparent !important;
  }
  .icon-bar {
    width: 16px;
    transition: all 0.2s;
    margin-top:0;
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}
.navbar-toggle.collapsed {
  .top-bar {
    transform: rotate(0);
  }
  .middle-bar {
    opacity: 1;
  }
  .bottom-bar {
    transform: rotate(0);
  }
}
//End of hamburger animation

@media screen and (min-width: $tablet) {
  .navbar {
    height:5.8125rem;
    .navbar-header {
      min-width:20%;
    }
    &__logo-container {
      height:5.8125rem;
      line-height:5.8125rem;
      &__image {
        vertical-align:middle;
        height:1.5625rem;
      }
    }
    .nav {
      .menu-item a {
        line-height:4.6rem;
        font-size:1.875rem;
      }
      .dropdown-menu {
        left: 50%;
        transform: translateX(-50%);
        min-width: 100%;
      }
    }
    &__tel-container{
      height:5.8125rem;
      line-height:5.8125rem;
      &::before {
        float:left;
        margin:2.1875rem 1rem 0 1rem;
        @media screen and (min-width:$desktop) {
          margin:2.1875rem 2rem 0 2rem;
        }
        height:1.5625rem;
      }
      &__icon {
        height:19px;
        width:20px;
        vertical-align:middle;
      }
      &__number {
        font-size:1rem;
      }
    }
    .navbar-toggle {
      border: 0;
      padding: 0;
      margin: 0;
      line-height: 5.8125rem;
      height: 5.8125rem;
      .icon-bar {
        width: 37px;
        height:3px;
      }
      .middle-bar, .bottom-bar {
        margin-top:7px !important;
      }
    }
  }
}

@media screen and (min-width: $notebook) {
  .navbar {
    .nav {
      .menu-item {
        a {
          padding:0 0.6rem;
          font-size:1rem;
          line-height: 5.8125rem;
        }
        ul li a{
          border-bottom:1px solid transparent;
        }
      }
      >.menu-item {
        height:5.8125rem;
        margin:0 0.15rem;
        >a {
          line-height: 2.1825rem!important;
          top:50%;
          transform: translateY(-50%);
          border:2px solid $green;
          border-radius:1.7rem;
          &:hover {
            border:2px solid $green!important;
            background: linear-gradient(#009848,#0cac58);
            .caret {
              color:#fff;
            }
          }
        }
        &:hover {
          .caret {
            color:#fff;
          }
          >a {
            background: linear-gradient(#009848,#0cac58);
            color:#fff!important;
          }
        }
      }
    }
    &__tel-container {
      visibility: visible;
    }
  }
}

@media screen and (min-width: $desktop) {
  .navbar .nav {
    .menu-item {
      margin:0 0.4rem;
      a {
        padding:0 1.2rem;
      }
    }
  }
}

@media screen and (min-width: $fhd) {
  .navbar .nav .menu-item a {
    padding:0 1.8rem;
  }
}

//Bootstrap navbar breakpoint change from default to 992px
@media (max-width: 992px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
    margin-bottom:0;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
}
//End of Bootstrap navbar breakpoint change from default to 992px

