//CSS dla animowanej myszki (linku do następnej sekcji)

@import '_config/mediaquery';
@import '_config/colors';

.scrolldown {
  bottom: 2rem;
  height: 80px;
  position: absolute;
  left: 50%;
  text-align: center;
  width: 70px;
  transform: translateX(-50%);
  z-index: 100;

  @at-root #{&}--animation {
    font: 700 0.7em/1em 'Avenir',sans-serif;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: scroll;
    color: white;
  }
  @at-root #{&}__text {
    text-transform: uppercase;
    text-indent: 3px;
  }
  @at-root #{&}__mouse {
    border: 2px solid $green;
    border-radius: 13px;
    display: block;
    height: 46px;
    left: 50%;
    margin: 10px 0 0 -13px;
    position: absolute;
    width: 26px;
  }
  @at-root #{&}__mouse span {
    display: block;
    font-size: 1.5em;
    margin: 6px auto;
  }
  &__arrow {
    margin:0;
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}

html.pum-open.pum-open-overlay, html.pum-open.pum-open-overlay.pum-open-fixed .pum-overlay {
  overflow: scroll;
}

html.pum-open.pum-open-overlay.pum-open-scrollable .pum-overlay.pum-active {
  overflow-y: auto;
}
