.widget-area {
  @media only screen and (min-width: $tablet) {
    padding-top: 8.3rem;
  }
}

.page-widget {
  background-color: #fff;
  border-radius: 2rem;
  max-width: 29.56rem;
  width: 100%;
  margin: 4.2rem auto;
  -webkit-box-shadow: 0 0 55px 0 rgba(0,0,0,0.16);
  -moz-box-shadow: 0 0 55px 0 rgba(0,0,0,0.16);
  box-shadow: 0 0 55px 0 rgba(0,0,0,0.16);
  &__title {
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.1);
    font-size: 1.333rem;
    text-align: center;
    padding-top: 1.5rem;
    @media only screen and (min-width: $tablet) {
      font-size: 1.5rem;
      letter-spacing: 0.04rem;
      padding-top: 1.2rem;
      margin-bottom: 0.9rem;
    }
  }
  &__text, &__text p {
    color: #6c6c6c;
    line-height: 1.3;
    @media only screen and (min-width: $tablet) {
      font-size: 0.875rem;
    }
    &--green {
      color: $green;
    }
    &--center {
      text-align: center;
    }
  }
  &--form {
    .contact-form {
      width: 80%;
      @media only screen and (min-width: $tablet) {
        margin: 1.7rem auto 0;
      }
      &__field {
        border-color: $green;
        border-radius: 2.1rem;
        font-size: 1rem;
        color: $lightgray;
        @media only screen and (min-width : $tablet) {
          font-size: 0.875rem;
          height: 2.2rem;
          padding:1px 0.7rem;
        }
        &--message {
          height: 4.2rem;
          padding-top: 0.4rem;
          @media only screen and (min-width : $tablet) {
            border-radius: 1.2rem;
            margin-top: 1.2rem;
            padding-top: 0.1rem;
          }
        }
        &::placeholder {
          font-style: normal;
        }
      }
      p {
        margin: 0;
        display: inline-block;
        vertical-align: top;
        @media only screen and (min-width : $tablet) {
          font-size: .875rem;
        }
      }
    }
  }
  &__btn-icon-container {
    text-align: center;
    margin-top: 1.7rem;
    @media only screen and (min-width : $tablet) {
      margin-top: 2.62rem;
    }
  }
  &__icon {
    height: 2.111rem;
    width: 3rem;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    @media only screen and (min-width : $tablet) {
      height: 2.063rem;
    }
    &--contact-form {
      background-image: url('../images/widgets/widget-contact-form.png');
    }
    &--transport {
       background-image: url('../images/widgets/widget-transport.png');
    }
    &--catalog {
      background-image: url('../images/widgets/catalog.png');
    }
    &--work {
      background-image: url('../images/widgets/widget-work.png');
    }
    &--catalog {
      background-image: url('../images/widgets/widget-catalog.png');
    }
  }
  &__btn {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    margin: 0 1.6rem;
    padding: 0.4rem 0.8rem;
    vertical-align: top;
    &:hover, &:active, &:focus {
      color: black;
      border-color: $green;
    }
    a {
      color: inherit;
    }
    @media only screen and (min-width: $tablet) {
      font-size: 0.875rem;
      margin: 0px 1.3rem;
      padding: 0.47rem 1.4rem;
    }
  }
}

.widget-contact {
  height: 16.67rem;
  padding: 0 2rem;
  &__title {
    @media only screen and (min-width: $tablet) {
      margin-bottom: 1.75rem;
    }
  }
  &__text-small {
    color: $green;
    margin: 0.4rem 0 1.1rem;
    font-size: 0.8rem;
    @media only screen and (min-width: $tablet) {
      font-size: 0.7rem;
      margin: 0.25rem 0 1rem;
    }
  }
  &__content {
    padding-left: 1.6rem;
    @media only screen and (min-width: $tablet) {
      padding-left: 2.2rem;
    }
  }
  &__image {
    background-image: url('../images/widgets/user-icon.png');
    background-size: cover;
    background-position: 50%;
    border-radius: 2.3rem;
    height: 7.889rem;
    width: 7.889rem;
    @media only screen and (min-width: $tablet) {
      height: 7.5rem;
      width: 7.5rem;
      border-radius: 1.4rem;
    }
  }
  &__item {
    line-height: 1.5;
  }
  &__header {
    font-size: 1.111rem;
    color: $green;
    font-weight: 300;
    margin: 0;
    @media only screen and (min-width: $tablet) {
      font-size: 1rem;
    }
  }
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.widget-work, .widget-transport {
  //height: 17.22rem;
  padding: 0 3.2rem 1.5rem;
  @media only screen and (min-width: $tablet) {
    padding-bottom: 2rem;
  }
  &__title {
    margin-bottom: 0.9rem;
  }
}
.widget-contact-form {
  .page-widget__btn-icon-container {
    margin-top: 0;
    @media only screen and (min-width: $tablet) {
      margin-top: -0.3rem;
      margin-bottom: -0.5rem;
    }
    .input-group-btn {
      text-align: left;
    }
  }
  &__btn-file {
    width: 11.1rem;
    @media only screen and (min-width: $tablet) {
      width: 10rem;
    }
    display: inline-block;
    input.form-control {
      display: none;
    }
    .btn {
      color: $lightgray;
      margin: 0;
      border: none;
      border-radius: 0;
      background: transparent;
      height: 2.111rem;
      font-size: 1rem;
      padding: 0;
      @media only screen and (min-width: $tablet) {
        font-size: 0.875rem;
        height: 2.063rem;
      }
      &:hover {
        color: #000;
      }
      &:focus, &:active {
        background-color: transparent;
        border: none;
        outline: none;
        box-shadow: none;
      }
      &:before {
        content: "";
        height: 1.667rem;
        width: 1.667rem;
        display: inline-block;
        position: relative;
        background: url("../images/widgets/widget-contact-form.png");
        background-position: right center;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 10;
        left: -0.9rem;
        top: 50%;
        transform: translateY(-50%);
        margin-top: 0.1rem;
      }
      .buttonText {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-top: 0.1rem;
      }
    }
  }
}
.widget-catalog {
  padding-bottom: 0.3rem;
  .page-widget__btn-icon-container {
    margin-top: 2.9rem;
    @media only screen and (min-width: $tablet) {
      margin-top: -0.5rem;
      margin-bottom: -2.5rem;
    }
  }
  &__text {
    margin-left: 13%;
    margin-right: 13%;
  }
}

.widget-news, .widget-products {
  &__title {
    margin-bottom: 0.35rem;
  }
  &__wrapper {
    padding: 1.4rem 2rem 1.6rem;
    margin: 0;
    border-bottom: 1px solid #e5e5e5;
    &:last-child {
      border-bottom: none;
    }
  }
  &__thumbnail {
    background-size: cover;
    background-position: 50%;
    border-radius: 2.3rem;
    height: 7.889rem;
    width: 7.889rem;
    @media only screen and (min-width: $tablet) {
      height: 7.5rem;
      width: 7.5rem;
      border-radius: 1.4rem;
    }
  }
  &__content {
    padding-left: 0.5rem;
    @media only screen and (min-width: $tablet) {
      padding-left: 0.9rem;
    }
  }
  &__header {
    color: $green;
    margin: 0;
    @media only screen and (min-width: $tablet) {
      font-size: 1rem;
    }
  }
  &__text {
    p {
      margin-top: 0.1rem;
      margin-bottom: 0;
      line-height: 1.25;
    }
    &--date {
      margin-left: 0.5rem;
    }
  }
  &__bottom {
    margin-top: 1.4rem;
    text-align: center;
  }
  &__date-wrapper {
    display: inline-block;
    margin: 0.6rem -0.9rem 0 1.1rem;
    @media only screen and (min-width: $tablet) {
      margin: 0.6rem -1rem 0 2.2rem;
    }
  }
}

.widget-products {
  .page-widget__btn {
    //float: right;
    //margin-right: 1.7rem;
  }
}

.widget-products__bottom {
  text-align: center;
}

@media only screen and (min-width: $tablet) {
}
@media only screen and (min-width: $notebook) {
}

//src="<?php bloginfo('template_url'); ?>/images/widgets/widget-transport.png
//src="<?php bloginfo('template_url'); ?>/images/widgets/widget-work.png"